<li><a href="{{ site.api }}" class="otherLinkColour">API Reference</a>
    <ul>
        <li><a href="{{ site.api }}class/index.html" class="otherLinkColour">Classes</a>
            <ul>
                <li><a href="{{ site.api }}class/edit_viewer.html" class="otherLinkColour">EditViewer</a></li>      
            </ul>
        </li> 
        <li><a href="{{ site.api }}interface/index.html" class="otherLinkColour">Interfaces</a>
            <ul>
                <li><a href="{{ site.api }}interface/idocument.html" class="otherLinkColour">IDocument</a></li>
                <li><a href="{{ site.api }}interface/thumbnail.html" class="otherLinkColour">Thumbnail</a></li>       
            </ul>
        </li>
    </ul>
</li>