<li><a href="{{ site.api }}" class="otherLinkColour">Related APIs</a>
    <ul>
        <li><a href="{{ site.api }}Dynamsoft_DWT.html" class="otherLinkColour">Dynamsoft_DWT</a></li>
        <li><a href="{{ site.api }}RemoteScanObject.html" class="otherLinkColour">RemoteScanObject</a></li>   
        <li><a href="{{ site.api }}Viewer.html" class="otherLinkColour">Viewer</a></li>
        <li><a href="{{ site.api }}Dynamsoft_Enum.html" class="otherLinkColour">Dynamsoft_Enum</a></li>
        <li><a href="{{ site.api }}Interfaces.html" class="otherLinkColour">Interfaces</a></li>     
        <li><a href="{{ site.api }}ErrorList.html" class="otherLinkColour">Error List</a></li> 
        <li><a href="{{ site.api }}edit_viewer.html" class="otherLinkColour">EditViewer</a></li>       
    </ul>
</li>