<li><a class="otherLinkColour">Getting Started</a>
    <ul>
        <li><a href="{{ site.gettingstarted }}sys_requirement.html" class="otherLinkColour">System Requirements</a></li>
        <li><a href="{{ site.gettingstarted }}add_dependency.html" class="otherLinkColour">Adding the dependency</a></li>
        <li><a href="{{ site.gettingstarted }}sdk_init.html" class="otherLinkColour">SDK Initialization</a></li>
        <li><a href="{{ site.gettingstarted }}helloworld.html" class="otherLinkColour">Creating HelloWorld</a></li>
        <li><a class="otherLinkColour">Libraries and Frameworks</a>
            <ul>
                <li><a href="{{ site.gettingstarted }}angular.html" class="otherLinkColour">Angular</a></li>
                <li><a href="{{ site.gettingstarted }}react.html" class="otherLinkColour">React</a></li>
                <li><a href="{{ site.gettingstarted }}vue.html" class="otherLinkColour">Vue</a></li>
            </ul>
        </li>
    </ul>
</li>