<li><a href="{{ site.api }}index.html" class="otherLinkColour">API Reference</a>
    <ul>
        <li><a class="otherLinkColour">Namespaces</a>
            <ul>
                <li><a href="{{ site.api }}namespace/ddv.html" class="otherLinkColour">Dynamsoft.DDV</a></li> 
                <li><a href="{{ site.api }}namespace/ddv_core.html" class="otherLinkColour">Dynamsoft.DDV.Core</a></li>   
                <li><a href="{{ site.api }}namespace/ddv_elements.html" class="otherLinkColour">Dynamsoft.DDV.Elements</a></li>
            </ul>
        </li>
        <li><a href="{{ site.api }}class/index.html" class="otherLinkColour">Classes</a>
            <ul>
                <li><a class="otherLinkColour">Dynamsoft.DDV</a>
                    <ul>
                        <li><a href="{{ site.api }}class/documentmanager.html" class="otherLinkColour">DocumentManager</a></li>
                        <li><a href="{{ site.api }}class/annotationmanager.html" class="otherLinkColour">AnnotationManager</a></li>   
                        <li><a href="{{ site.api }}class/editviewer.html" class="otherLinkColour">EditViewer</a></li>
                        <li><a href="{{ site.api }}class/captureviewer.html" class="otherLinkColour">CaptureViewer</a></li>
                        <li><a href="{{ site.api }}class/perspectiveviewer.html" class="otherLinkColour">PerspectiveViewer</a></li>
                        <li><a href="{{ site.api }}class/browseviewer.html" class="otherLinkColour">BrowseViewer</a></li>
                        <li><a href="{{ site.api }}class/customviewer.html" class="otherLinkColour">CustomViewer</a></li>
                        <li><a class="otherLinkColour">Advanced</a>
                            <ul>   
                                <li><a href="{{ site.api }}class/advanced/imagefilter.html" class="otherLinkColour">ImageFilter</a></li>
                                <li><a href="{{ site.api }}class/advanced/documentdetect.html" class="otherLinkColour">DocumentDetect</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>         
                <li><a href="{{ site.api }}class/annotation/index.html" class="otherLinkColour">Annotation</a>
                    <ul>   
                        <li><a href="{{ site.api }}class/annotation/rectangle.html" class="otherLinkColour">Rectangle</a></li>
                        <li><a href="{{ site.api }}class/annotation/ellipse.html" class="otherLinkColour">Ellipse</a></li>
                        <li><a href="{{ site.api }}class/annotation/polygon.html" class="otherLinkColour">Polygon</a></li>
                        <li><a href="{{ site.api }}class/annotation/polyline.html" class="otherLinkColour">Polyline</a></li>
                        <li><a href="{{ site.api }}class/annotation/line.html" class="otherLinkColour">Line</a></li>
                        <li><a href="{{ site.api }}class/annotation/ink.html" class="otherLinkColour">Ink</a></li>
                        <li><a href="{{ site.api }}class/annotation/textbox.html" class="otherLinkColour">TextBox</a></li>
                        <li><a href="{{ site.api }}class/annotation/texttypewriter.html" class="otherLinkColour">TextTypewriter</a></li>
                        <li><a href="{{ site.api }}class/annotation/stamp.html" class="otherLinkColour">Stamp</a></li>
                        <li><a href="{{ site.api }}class/annotation/incomplete.html" class="otherLinkColour">Incomplete</a></li>
                        <li><a href="{{ site.api }}class/annotation/unknown.html" class="otherLinkColour">Unknown</a></li>
                    </ul>
                </li>     
            </ul>
        </li> 
        <li><a href="{{ site.api }}interface/index.html" class="otherLinkColour">Interfaces</a>
            <ul>
                <li><a href="{{ site.api }}interface/idocument/index.html" class="otherLinkColour">IDocument</a>
                    <ul>
                        <li><a href="{{ site.api }}interface/idocument/source.html" class="otherLinkColour">Source</a></li>
                        <li><a href="{{ site.api }}interface/idocument/extrapagedata.html" class="otherLinkColour">ExtraPageData</a></li>
                        <li><a href="{{ site.api }}interface/idocument/pdfsource.html" class="otherLinkColour">PdfSource</a></li>
                        <li><a href="{{ site.api }}interface/idocument/pagedata.html" class="otherLinkColour">PageData</a></li>
                        <li><a href="{{ site.api }}interface/idocument/updatepageoptions.html" class="otherLinkColour">UpdatePageOptions</a></li>
                        <li><a href="{{ site.api }}interface/idocument/savepngsettings.html" class="otherLinkColour">SavePngSettings</a></li>
                        <li><a href="{{ site.api }}interface/idocument/savejpegsettings.html" class="otherLinkColour">SaveJpegSettings</a></li>
                        <li><a href="{{ site.api }}interface/idocument/savetiffsettings.html" class="otherLinkColour">SaveTiffSettings</a></li>
                        <li><a href="{{ site.api }}interface/idocument/savepdfsettings.html" class="otherLinkColour">SavePdfSettings</a></li>
                        <li><a href="{{ site.api }}interface/idocument/customtag.html" class="otherLinkColour">CustomTag</a></li>
                        <li><a href="{{ site.api }}interface/idocument/printsettings.html" class="otherLinkColour">PrintSettings</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.api }}interface/styleinterface/index.html" class="otherLinkColour">Style Interfaces</a>
                    <ul>
                        <li><a href="{{ site.api }}interface/styleinterface/basestyle.html" class="otherLinkColour">BaseStyle</a></li>
                        <li><a href="{{ site.api }}interface/styleinterface/canvasstyle.html" class="otherLinkColour">CanvasStyle</a></li>
                        <li><a href="{{ site.api }}interface/styleinterface/checkboxstyle.html" class="otherLinkColour">CheckboxStyle</a></li>
                        <li><a href="{{ site.api }}interface/styleinterface/pagenumberstyle.html" class="otherLinkColour">PageNumberStyle</a></li>
                        <li><a href="{{ site.api }}interface/styleinterface/quadselectionstyle.html" class="otherLinkColour">QuadSelectionStyle</a></li>
                        <li><a href="{{ site.api }}interface/styleinterface/annotationselectionstyle.html" class="otherLinkColour">AnnotationSelectionStyle</a></li>
                    </ul>
                </li>
                <li><a class="otherLinkColour">Annotation Interfaces</a>
                    <ul>
                        <li><a href="{{ site.api }}interface/annotationinterface/rectannotationoptions.html" class="otherLinkColour">RectAnnotationOptions</a></li>
                        <li><a href="{{ site.api }}interface/annotationinterface/ellipseannotationoptions.html" class="otherLinkColour">EllipseAnnotationOptions</a></li>
                        <li><a href="{{ site.api }}interface/annotationinterface/polygonannotationoptions.html" class="otherLinkColour">PolygonAnnotationOptions</a></li>
                        <li><a href="{{ site.api }}interface/annotationinterface/polylineannotationoptions.html" class="otherLinkColour">PolylineAnnotationOptions</a></li>
                        <li><a href="{{ site.api }}interface/annotationinterface/lineannotationoptions.html" class="otherLinkColour">LineAnnotationOptions</a></li>
                        <li><a href="{{ site.api }}interface/annotationinterface/inkannotationoptions.html" class="otherLinkColour">InkAnnotationOptions</a></li>
                        <li><a href="{{ site.api }}interface/annotationinterface/textboxannotationoptions.html" class="otherLinkColour">TextBoxAnnotationOptions</a></li>
                        <li><a href="{{ site.api }}interface/annotationinterface/texttypewriterannotationoptions.html" class="otherLinkColour">TextTypewriterAnnotationOptions</a></li>
                        <li><a href="{{ site.api }}interface/annotationinterface/stampannotationoptions.html" class="otherLinkColour">StampAnnotationOptions </a></li>
                        <li><a href="{{ site.api }}interface/annotationinterface/flags.html" class="otherLinkColour">Flags</a></li>
                        <li><a href="{{ site.api }}interface/annotationinterface/point.html" class="otherLinkColour">Point</a></li>
                        <li><a href="{{ site.api }}interface/annotationinterface/textcontent.html" class="otherLinkColour">TextContent</a></li>
                        <li><a href="{{ site.api }}interface/annotationinterface/rectanglestyle.html" class="otherLinkColour">RectangleStyle</a></li>
                        <li><a href="{{ site.api }}interface/annotationinterface/ellipsestyle.html" class="otherLinkColour">EllipseStyle</a></li>
                        <li><a href="{{ site.api }}interface/annotationinterface/polygonstyle.html" class="otherLinkColour">PolygonStyle</a></li>
                        <li><a href="{{ site.api }}interface/annotationinterface/polylinestyle.html" class="otherLinkColour">PolylineStyle</a></li>
                        <li><a href="{{ site.api }}interface/annotationinterface/linestyle.html" class="otherLinkColour">LineStyle</a></li>
                        <li><a href="{{ site.api }}interface/annotationinterface/inkstyle.html" class="otherLinkColour">InkStyle</a></li>
                        <li><a href="{{ site.api }}interface/annotationinterface/textboxstyle.html" class="otherLinkColour">TextBoxStyle</a></li>
                        <li><a href="{{ site.api }}interface/annotationinterface/texttypewriterstyle.html" class="otherLinkColour">TextTypewriterStyle</a></li>
                        <li><a href="{{ site.api }}interface/annotationinterface/stampstyle.html" class="otherLinkColour">StampStyle</a></li>
                        <li><a href="{{ site.api }}interface/annotationinterface/toolbarconfig.html" class="otherLinkColour">ToolbarConfig</a></li>
                        <li><a href="{{ site.api }}interface/annotationinterface/paletteconfig.html" class="otherLinkColour">PaletteConfig</a></li>
                        <li><a href="{{ site.api }}interface/annotationinterface/annotationtoolbarbutton.html" class="otherLinkColour">AnnotationToolbarButton</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.api }}interface/configresult.html" class="otherLinkColour">ConfigResult</a></li>
                <li><a href="{{ site.api }}interface/createdocumentoptions.html" class="otherLinkColour">CreateDocumentOptions</a></li>
                <li><a href="{{ site.api }}interface/mergedocumentoptions.html" class="otherLinkColour">MergeDocumentOptions</a></li>
                <li><a href="{{ site.api }}interface/transferoptions.html" class="otherLinkColour">TransferOptions</a></li>
                <li><a href="{{ site.api }}interface/editviewerconstructoroptions.html" class="otherLinkColour">EditViewerConstructorOptions</a></li>
                <li><a href="{{ site.api }}interface/editviewerconfig.html" class="otherLinkColour">EditViewerConfig</a></li>
                <li><a href="{{ site.api }}interface/thumbnailconfig.html" class="otherLinkColour">ThumbnailConfig</a></li>
                <li><a href="{{ site.api }}interface/annotationconfig.html" class="otherLinkColour">AnnotationConfig</a></li>
                <li><a href="{{ site.api }}interface/ibrowseviewer.html" class="otherLinkColour">IBrowseViewer</a></li>
                <li><a href="{{ site.api }}interface/rect.html" class="otherLinkColour">Rect</a></li>
                <li><a href="{{ site.api }}interface/zoomorigin.html" class="otherLinkColour">ZoomOrigin</a></li>
                <li><a href="{{ site.api }}interface/captureviewerconstructoroptions.html" class="otherLinkColour">CaptureViewerConstructorOptions</a></li>
                <li><a href="{{ site.api }}interface/captureviewerconfig.html" class="otherLinkColour">CaptureViewerConfig</a></li>
                <li><a href="{{ site.api }}interface/videodeviceinfo.html" class="otherLinkColour">VideoDeviceInfo</a></li>
                <li><a href="{{ site.api }}interface/playcallbackinfo.html" class="otherLinkColour">PlayCallbackInfo</a></li>
                <li><a href="{{ site.api }}interface/videoconfig.html" class="otherLinkColour">VideoConfig</a></li>
                <li><a href="{{ site.api }}interface/perspectiveviewerconstructoroptions.html" class="otherLinkColour">PerspectiveViewerConstructorOptions</a></li>
                <li><a href="{{ site.api }}interface/perspectiveviewerconfig.html" class="otherLinkColour">PerspectiveViewerConfig</a></li>
                <li><a href="{{ site.api }}interface/browseviewerconstructoroptions.html" class="otherLinkColour">BrowseViewerConstructorOptions</a></li>
                <li><a href="{{ site.api }}interface/browseviewerconfig.html" class="otherLinkColour">BrowseViewerConfig</a></li>
                <li><a href="{{ site.api }}interface/customviewerconstructoroptions.html" class="otherLinkColour">CustomViewerConstructorOptions</a></li>
                <li><a href="{{ site.api }}interface/tooltip.html" class="otherLinkColour">Tooltip</a></li>
                <li><a href="{{ site.api }}interface/displaytextconfig.html" class="otherLinkColour">DisplayTextConfig</a></li>
                <li><a href="{{ site.api }}interface/uiconfig.html" class="otherLinkColour">UiConfig</a></li>
                <li><a href="{{ site.api }}interface/ddverror.html" class="otherLinkColour">DDVError</a></li>
                <li><a href="{{ site.api }}interface/verror.html" class="otherLinkColour">VError</a></li>
                <li><a href="{{ site.api }}interface/vimagedata.html" class="otherLinkColour">VImageData</a></li>
                <li><a href="{{ site.api }}interface/iimagefilter.html" class="otherLinkColour">IImageFilter</a></li>
                <li><a href="{{ site.api }}interface/imagefilteritem.html" class="otherLinkColour">ImageFilterItem</a></li>
                <li><a href="{{ site.api }}interface/idocumentdetect.html" class="otherLinkColour">IDocumentDetect</a></li>
                <li><a href="{{ site.api }}interface/detectresult.html" class="otherLinkColour">DetectResult</a></li>
                <li><a href="{{ site.api }}interface/documentdetectconfig.html" class="otherLinkColour">DocumentDetectConfig</a></li>
                <li><a href="{{ site.api }}interface/documentdetectresult.html" class="otherLinkColour">DocumentDetectResult</a></li>
                <li><a href="{{ site.api }}interface/defaultuiconfigoptions.html" class="otherLinkColour">DefaultUiConfigOptions</a></li>
            </ul>
        </li>
        <li><a href="{{ site.api }}enumeration-type/index.html" class="otherLinkColour">Enumerations & Types</a>
            <ul>
                <li><a href="{{ site.api }}enumeration-type/enumpdfpagetype.html" class="otherLinkColour">EnumPdfPageType</a></li>
                <li><a href="{{ site.api }}enumeration-type/enumpdfcompressiontype.html" class="otherLinkColour">EnumPdfCompressionType</a></li>
                <li><a href="{{ site.api }}enumeration-type/enumtiffcompressiontype.html" class="otherLinkColour">EnumTiffCompressionType</a></li>
                <li><a href="{{ site.api }}enumeration-type/enumconvertmode.html" class="otherLinkColour">EnumConvertMode</a></li>
                <li><a href="{{ site.api }}enumeration-type/enumannotationrendermode.html" class="otherLinkColour">EnumAnnotationRenderMode</a></li>
                <li><a href="{{ site.api }}enumeration-type/enumimagedatatype.html" class="otherLinkColour">EnumImageDataType</a></li>
                <li><a href="{{ site.api }}enumeration-type/enumimagefiltertype.html" class="otherLinkColour">EnumImageFilterType</a></li>
                <li><a href="{{ site.api }}enumeration-type/enumdocumentdetectionstatus.html" class="otherLinkColour">EnumDocumentDetectionStatus</a></li>
                <li><a href="{{ site.api }}enumeration-type/enumstampicon.html" class="otherLinkColour">EnumStampIcon</a></li>
                <li><a href="{{ site.api }}enumeration-type/enumlineending.html" class="otherLinkColour">EnumLineEnding</a></li>
                <li><a href="{{ site.api }}enumeration-type/quad.html" class="otherLinkColour">Type Quad</a></li>
            </ul>
        </li>
        <li><a href="{{ site.api }}errorlist.html" class="otherLinkColour">Error List</a></li>
    </ul>
</li>